/*hemknappen*/
header h1 a{
    text-decoration: none;
    color:black;
    padding-left: 5px;
}
/* navbar */
nav div button{
    padding:16px;
    border:none;
    font-size: 16px;
    background-color: rgb(221, 221, 221);
}
article h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
article p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header nav{
    display:flex;
    flex-direction: row;
    background-color: rgb(211, 211, 211);
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*flyttar main bredvid sidebaren*/
main{
    margin-left: 21%;
    margin-right: 5%;  
}
.left-sidebar{
    width: 20%;
    background-color: rgb(192, 192, 192);
    position:fixed;
    height:100%;
    overflow: auto;
    
}
.left-sidebar a{
    display:block;
    color:black;
    padding: 20px;
    background-color: rgb(212, 210, 210);
    text-decoration: none;
}

/*dropdown knappen*/
.article-dropdown{
    position:relative;
    display:inline-block;
}

.dropdown-content{
    display: none;
    position:absolute;
    min-width: 160px;
    padding:12px 16px;
    text-decoration: none;
    background-color: antiquewhite;
    color:aliceblue;
    z-index: 1;
    
}
.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration: none;
    display: block;
}
/*galleriet*/
.gallery img:hover { 
    transform: scale(1.02);
    border-color:darkgray ;
    filter: brightness(0.7);
}

 .gallery {
    display: grid;
    gap: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
}


.gallery img {
    width: 100%;
    height: 100px;
    object-fit: fit;
    display: block;
    border-radius: 8px;
    border: 1px solid gray;
    transition: all 0.3s ease;
}
/*navbar hover*/
nav div button:hover{background-color: darkgray;}
nav div button a{text-decoration: none; color:black;}

.dropdown-content a:hover {background-color: #ddd;}
/*gör så att dropdown content visas när man hovrar*/
.article-dropdown:hover .dropdown-content {display:block;}
.article-dropdown:hover .dropbtn {background-color: darkgray;}
.left-sidebar a:hover{background-color: darkgray;}


/*media queries*/
/*dator*/
@media (min-width: 600px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*tablet, går från 4 till 2 kolumner av bilder*/
@media (max-width: 599px){
    .gallery{
        grid-template-columns: repeat(2,1fr);
    }
    
}
/*telefon, tar bort sidebar gör om till en kolumn*/
@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    .left-sidebar{
        display: none;
    }
    main{
        margin:0;
    }
}